@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media (min-width: 1152px) {
  body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
  header {
    height: 50px;
    background-color: #f5f5f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  img {
    height: 23px;
    width: 89px;
  }
  .headerButtons {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .head {
    margin-right: 20px;
    height: 19px;
    border: none;
    color: #959BA4;
  }
  .head:hover {
      color: black;
  }
  .login {
    background-color: white;
    height: 33px;
    width: 58px;
    border: none;
  }
  main {
  }
  h1 {
    font-size: 36px;
    text-align: center; /* Нужно сдвинуть влево */
  }
  .converter {
    display: flex;
    justify-content: space-evenly;
  }
  p {
    font-size: 12px;
    color: #9f9f9f;
  }
  .currencyButtons {
    height: 30px;
  }
  .currency {
    width: 66px;
    height: 28px;
    color: C6C6C6;
    border: none;
  }
  .currency:hover {
      background-color: #833AE0;
      color: white;
  }
  input {
      width: 270px;
      height: 102px;
  }
}
