@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    height: 50px;
    background-color: #F5F5F6;
    display: flex;
    justify-content: space-between;
}
img {
    height: 23px;
    width: 89px;
}
.headerButtons {
    display: flex;
    justify-content: space-between;
}
.login {
    background-color: white;
    height: 33px;
    width: 58px;
}